<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title tiles:fragment="title">Home Page</title>
	<link rel="stylesheet" href="../static/css/home.css" th:href="@{css/home.css}" type="text/css">
</head>

<body>

	<h1>HI THERE, PLEASE UPLOAD THE REQUIRED DOCUMENTS</h1>
	<img src="../static/images/pig.jpg" th:src="@{images/pig.jpg}" alt="" width="300" />
	<table>
		<tbody>
			<tr>
				<td th:text="${empDetails.first_name}">" "</td>
				<td th:text="${empDetails.last_name}"></td>
			</tr>
			<tr>
				<td th:text="${empDetails.department}"></td>
			</tr>
			<tr>
				<td th:text="${empDetails.expertise}"></td>
			</tr>
		</tbody>
	</table>
	<div tiles:fragment="content">
		<form name="flogout" th:action="@{/myapp/gateway/endpoint4}" enctype="multipart/form-data" method="POST">
			<table>
				<tr>
					<td>SSC: </td>
					<td><input type="file" name="fileToUpload" /></td>
				</tr>
				<tr>
					<td>HSC: </td>
					<td><input type="file" name="fileToUpload" /></td>
				</tr>
				<tr>
					<td>BE: </td>
					<td><input type="file" name="fileToUpload" /></td>
				</tr>
				<tr>
					<td><button type="submit" class="btn">Submit Documents</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>